/* Definición de la paleta colores*/
:root {
  --color-primario: #5A9BD5;
  --color-secundario: #1A365D;
  --color-terciario: #10B981;
  --color-neutral: #64748B;
  --fondo-app: #F0F4F8;
  --fondo-tarjeta: #FFFFFF;
}


body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif, system-ui;
  background-color: var(--fondo-app);
}

.contenedor-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  
}

.tarjeta-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 900px;
  background: var(--fondo-tarjeta);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(251, 252, 255, 0.08);
  overflow: hidden;
  border: none;
}

/* Panel Izquierdo*/
.panel-izquierdo {
  background: linear-gradient(135deg, #d2e4f6 0%, #E2E8F0 100%);
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  
}

.panel-izquierdo h1 {
  color: var(--color-secundario);
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 14px;
  font-weight: 700;
}

/* Panel Derecho */
.panel-derecho {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.encabezado-formulario {
  margin-bottom: 24px;
}

.marcador-logo img.logo-imagen {
  width: 20%;
  height: 20%;
  object-fit: contain;
}

.encabezado-formulario h2 {
  color: var(--color-secundario);
  font-size: 22px;
  margin: 0 0 6px 0;
  font-weight: 700;
}

.encabezado-formulario p {
  color: var(--color-neutral);
  font-size: 13px;
  margin: 0;
}


.grupo-input {
  margin-bottom: 16px;
}

.grupo-input label {
  display: block;
  color: var(--color-secundario);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.grupo-input input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #E2E8F0;
  border-radius: 10px;
  font-size: 13px;
  background-color: #F8FAFC;
  color: var(--color-secundario);
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease;
}

.grupo-input input:focus {
  border-color: var(--color-primario);
  background-color: var(--fondo-tarjeta);
  box-shadow: 0 0 0 3px rgba(90, 155, 213, 0.15);
}

.grupo-casilla {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.grupo-casilla input {
  width: 16px;
  height: 16px;
  accent-color: var(--color-primario);
  cursor: pointer;
}

.grupo-casilla label {
  color: var(--color-neutral);
  font-size: 13px;
  cursor: pointer;
}

/* Botón de envío */
.boton-enviar {
  width: 100%;
  padding: 13px;
  background-color: var(--color-primario);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  /*box-shadow: 0 4px 10px rgba(90, 155, 213, 0.25);*/
}

.boton-enviar:hover {
  background-color: #4b85bc;
}

.boton-enviar:active {
  transform: scale(0.98);
}

